:root{
    --color-fondo: #222021
}

*{
    box-sizing: border-box;
    font-family: sans-serif;
    margin: 0;
}

/* Componente de menu de navegacion */

.navbar{
    background-color: var(--color-fondo);
    text-align: center;
    width: 100%;
    height: 3rem;
}

.navbar__barra{
    margin: auto;
    height: 2rem;
    width: 50rem;
    border-radius: 20px;


}

/* Componente de sidebar */
.sidebar{
    width: 5vw;
    height: 100vh;
    background-color: var(--color-fondo);
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    overflow-x: hidden;
}

.sidebar__lista{
    list-style-type: none;
    margin: auto;
}

.sidebar__lista__item{
    color: purple;
    margin-top: 30px;
}

/* Componente de categorias */

.categorias{
    height: 2rem;
    width: 100vw;
    background-color: var(--color-fondo);
    text-align: center;
}

.categorias__lista__link{
    display: inline-block;
    margin: 0 20px;
    color: white;
    cursor: pointer;
}

.categorias__lista__link--especial{
    color: lightcoral;
}

/* Componente de tarjeta */

.card{
    width: 20rem;
    height: 25rem;
    background-color: red;
    border-radius: 20px;  
    padding: 20px;
    text-align: center;
}

.card__titulo{
    font-size: 1.5rem;
}

.card__imagen{
    width: 10em;
    height: 10em;
    background-image: url("src/6fbtm.webp");    
    object-fit: cover;
    margin: 10px auto;

}

.card__descripcion{
    font-size: 1rem;
    margin: 10px;
}

.card__boton{
    border-radius: 20px;
    background-color: white;
    color: black;
    border: none;
    padding: 5px;
    font-size: 1rem;
}

/* Componente de formulario */


.form{
    width: 100vw;
    height: 20vh;
    background-color: var(--color-fondo);
    text-align: center;
    padding: 20px;
}

.form__titulo{
    color: white;
    margin-bottom: 10px;
}

.form__input{
    display: block;
    margin: 20px auto;
    border-radius: 10px;
    padding: 5px;
}

/* Componente  de lista de tareas */

.tasks{
    background-color: purple;
    color: white;
    text-align: center;
}

.task__punto{
    list-style: none;
}

.task__punto--importante{
    background-color: red;
}

/* Componente de galeria de imagenes */

.galeria{
    background-color: green;
    width: 100vw;
    height: 30vh;
    text-align: center;
}

.galeria__titulo{
    color: white;
    margin-top: 10px;
}

.galeria__imagen{
    width: 10rem;
    height: 10rem;
    background-image: url(src/6fbtm.webp);
    background-size: cover;
    display: inline-block;
    margin: 10px
}

/* Componente de alerta o notificacion */

.noti{
    width: 22rem;
    height: 7rem;
    border-radius: 10px;
    background-color: red;
    padding: 15px;
    position: absolute;
    top: 50px;
    right: 100px;

}

.noti__titulo{
    margin-bottom: 5px;
}

/* Componente de tabla de datos */


/* Bordes para la tabla */
table, th, td{
    border: solid 1px black
}

.tabla-datos{
    padding: 10px;
}

.tabla-datos__datos{
    font-style: italic;
    text-align: left;
}

.tabla-datos__datos--head{
    text-align: center;
    background-color: red;
}

/* Componente de pestañas */

.pestanas{
    margin-left: 10px;
    height: 20rem;
    width: 50rem;;
    background-color: #d3d3d3;
    border-radius: 20px;
    box-shadow: 0 0 10px black;
}

.pestanas__pestana{
    background-color: #a9a9a9;
    display: inline-block;
    padding: 10px;
    border-radius: 20px;
}

.pestanas__pestana__titulo--seleccionado{
    font-weight: 600;
}

.pestanas__cuerpo{
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 0 0 2px black;

}

.pestanas__cuerpo__texto{
    padding: 20px;
}

/* Componente de calificaciones */

.calificaciones{
    margin: 10px;
    background-color: var(--color-fondo);
    height: 10rem;
    width: 20rem;
    border-radius: 20px;
    box-shadow: 0 0 5px black;
    color: white;
    padding: 5px;
}

.calificaciones__titulo{
    margin: 10px;
}

.calificaciones__texto{
    margin-left: 5px;
}

.calificaciones__input{
    border: none;
    background-color: var(--color-fondo);
    border: 1px solid #fff;
    border-radius: 10px;
    margin-top: 10px;
}

/* Componente de video */

.video{
    margin: 10px 20px;
    border-radius: 20px;
    width:560px;
    height:315px; 
    box-shadow: 0 0 10px black;
}

/* Componente de resumen de carrito */

.compra{
    width: 100vw;
    height: 20vh;
    background-color: var(--color-fondo);
    color: white;
    padding: 20px;
}

.compra__titulo{
    margin-left: 10px;
    background-color: white;
    display: inline;
    padding: 3px;
    border-radius: 10px;
    color: var(--color-fondo);
}

.compra__lista{
    margin-top: 10px;
}

.compra__lista__item--descuento{
    color: orange;
    font-weight: 600;
}

/* Componente de publicacion en blog */

.blog{
    height: 20vh;
    width: 100vw;
    background-color: var(--color-fondo);
    padding: 20px;
}

.blog__titulo{
    color: white;
}

.blog__input{
    width: 40rem;
    height: 5rem;
    border: none;
    border: 1px solid #fff;
    background-color: var(--color-fondo);
    border-radius: 20px;
}

/* Componente de footer */

.footer{
    width: 100vw;
    height: 20vh;
    box-shadow: 0px 0px 5px black;
    padding: 10px;
}

.footer__texto{
    text-align: center;
}

.footer__texto--destacado{
    margin-top: 10px;
    color: purple;
    font-size: 20px;
    font-weight: 600;
}

